.recipes-swiper-section .grid .swiper-aside p {
  z-index: 3;
}
.recipes-swiper-section .grid .swiper-aside .cta-blue {
  z-index: 3;
}
.recipes-swiper-section .grid .swiper-aside #recipes-swiper-donuts-1-wrapper {
  z-index: 3;
}

#frm_field_58_container {
  height: 60px;
  transform: translateX(22px);
}

@media (min-width: 768px) {
  .sign-up-section .sign-up-section-container button {
    right: 183px;
    top: -17px;
  }
}

@media (min-width: 1025px) {
  #frm_form_2_container {
    margin-left: 400px;
  }
}
@media (min-width: 1340px) {
  #frm_form_2_container {
    margin-left: 561px;
  }
}

@media (min-width: 1025px) {
  .form-section-pro #frm_form_2_container {
    margin-left: 0px;
  }
}
@media (min-width: 1340px) {
  .form-section-pro #frm_form_2_container {
    margin-left: 0px;
  }
}

.topbar-main-header-desktop .topbar-desktop .for-profesionals {
  display: block;
}

.topbar-main-header-desktop .topbar-desktop .topbar-desktop-divider {
  display: block;
}

.legal-menu li {
  padding: 1rem 0;
}

.spready-saucy-section
  .spready-saucy-content
  h2
  .dashed-text-spready-saucy::after {
  left: -40px;
}

.spready-saucy-section
  .spready-saucy-content
  h2
  .dashed-text-spready-saucy::before {
  right: -40px;
}

#wpsl-stores {
  overflow-y: scroll;
}

#wpsl-direction-details {
  display: none;
}

.page-template-page-better-world #frm_field_60_container {
  -webkit-clip-path: unset !important;
  clip-path: unset !important;
}
.page-template-page-better-world #frm_field_60_container .select {
  background: url(../svg/SignUpSection/outline-country-m.png) center no-repeat;
  background-size: 138px;
  border-radius: 0px !important;
}
.page-template-page-better-world #frm_field_60_container .select select {
  background: none;
  padding: 0 0 0 5px;
}
.page-template-page-better-world #frm_field_60_container .select .s-hidden {
  padding-right: 0px;
}
@media (min-width: 769px) {
  .page-template-page-better-world #frm_field_60_container .select {
    background: url(../svg/SignUpSection/outline-country-t.png) center no-repeat !important;
    background-size: contain;
  }
}
@media (min-width: 1025px) {
  .page-template-page-better-world #frm_field_60_container .select {
    background: url(../svg/SignUpSection/outline-country-l.png) center no-repeat !important;
    background-size: contain;
  }
}

.section-map #wpsl-wrap .wpsl-search form .wpsl-input > input {
  height: 64px;
}

.section-map #wpsl-wrap .wpsl-search form .wpsl-search-btn-wrap {
  height: 64px;
  width: 64px;
  transform: translateX(-1px);
  z-index: 9999;
}
@media (min-width: 769px) {
  .section-map #wpsl-wrap .wpsl-search form .wpsl-search-btn-wrap {
    width: 80px;
  }
}
@media (min-width: 1025px) {
  .section-map #wpsl-wrap .wpsl-search form .wpsl-search-btn-wrap {
    width: 96px;
  }
}
.section-map #wpsl-wrap .wpsl-search form .wpsl-search-btn-wrap::after {
  pointer-events: none;
}

.gm-bundled-control {
  display: block;
}

footer
  .main-footer
  .main-footer-content
  .nav-footer
  .footer-menu
  .nav-footer-links
  .menu-item:nth-last-child(1) {
  display: block;
}

/* @media (min-width: 1025px) { 
    .getting-hungry-text-content {
    flex-direction: column;
    align-items: center;
   }
   .getting-hungry-hero-section .getting-hungry-text-content > p {
     width: unset;
   }
   .getting-hungry-text-content-p {
     
   }
} */

@media (min-width: 1025px) {
  .product-section-detail
    .product-section-detail-wrapper
    .picture-container
    > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
